black==26.5.1
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.5.0
idna==3.20
mypy_extensions==1.1.0
numpy==2.5.3
packaging==26.3
pandas==3.0.6
pathspec==1.1.1
platformdirs==4.12.2
python-dateutil==2.9.0.post0
pytokens==0.4.1
requests==2.34.2
six==1.17.0
urllib3==2.8.0
